.page_title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.platform_container {
  margin: auto;
  max-height: 400px;
  max-width: 500px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

